
    <!--====== TEAM 2 PART START ======-->
   
    <section class="team-2-area about-team">
        <div class="container">
            <div class="row align-items-end">
                <div class="col-lg-5">
                    <div class="section-title mt-45">
                        <h2 class="title">Our Team <br> <span>Meet <span>The Team</span></span></h2>
                        <p>About our passionate Team</p>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="section-title">
                        <p class="text">Our team is made up of people who are passionate about their craft. </p>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-3 col-md-6 col-sm-8">
                    <div class="team-item mt-40 wow fadeIn" data-wow-duration="1500ms" data-wow-delay="0ms">
                        <div class="team-thumb">
                            <img src="assets/images/team-2.1.png" alt="team">
                            <ul>
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-google"></i></a></li>
                                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                            </ul>
                        </div>
                        <div class="team-content text-center">
                            <h3 class="title">Frank M. Perez</h3>
                            <span>Head of Digital</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-8">
                    <div class="team-item mt-40 wow fadeIn" data-wow-duration="1500ms" data-wow-delay="300ms">
                        <div class="team-thumb">
                            <img src="assets/images/team-2.2.png" alt="team">
                            <ul>
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-google"></i></a></li>
                                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                            </ul>
                        </div>
                        <div class="team-content text-center">
                            <h3 class="title">Marsha C. Wood</h3>
                            <span>CFO & Project Manager</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-8">
                    <div class="team-item mt-40 wow fadeIn" data-wow-duration="1500ms" data-wow-delay="600ms">
                        <div class="team-thumb">
                            <img src="assets/images/team-2.3.png" alt="team">
                            <ul>
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-google"></i></a></li>
                                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                            </ul>
                        </div>
                        <div class="team-content text-center">
                            <h3 class="title">Kim M. McCabe</h3>
                            <span>Head of Digital Marketing</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-8">
                    <div class="team-item mt-40 wow fadeIn" data-wow-duration="1500ms" data-wow-delay="900ms">
                        <div class="team-thumb">
                            <img src="assets/images/team-2.4.png" alt="team">
                            <ul>
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-google"></i></a></li>
                                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                            </ul>
                        </div>
                        <div class="team-content text-center">
                            <h3 class="title">Dexter H. Wilson</h3>
                            <span>Head of Designs</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> 

    <!--====== TEAM 2 PART ENDS ======-->