<%- include('partials/header') %>
    <!--====== PAGE TITLE PART START ======-->

    <section class="banner-area page-title bg_cover" style="background-image: url(assets/images/features-bg.jpg);">
        <div class="banner-bg">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="page-title-content">
                            <h3 class="title">About Us</h3>
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">About Us</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="banner-shape-1">
        </div>
        <div class="banner-shape-2">
            <img src="assets/images/banner-shape-1.png" alt="">
        </div>
        <div class="banner-shape-3">
            <img src="assets/images/banner-shape-2.png" alt="">
        </div>
    </section>

    <!--====== PAGE TITLE PART ENDS ======-->

    <!--====== FAQ PART START ======-->
   
    <section class="faq-area about-faq">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <div class="faq-thumb mt-30">
                                <img src="assets/images/faq-1.jpg" alt="">
                            </div>
                            <div class="faq-thumb mt-30">
                                <img src="assets/images/faq-2.jpg" alt="">
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="faq-thumb mt-60">
                                <img src="assets/images/faq-3.jpg" alt="">
                            </div>
                            <div class="faq-content mt-30 text-center">
                                <h4 class="title">Need Help with a project?</h4>
                                <p>Let's help you start that project the right way</p>
                                <a class="main-btn" href="/contact">Contact Us</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="company-content pl-30 pr-30">
                        <div class="section-title">
                            <h2 class="title">Let's help Make a Solution <span>for your <span>Company</span></span> </h2>
                            <p>Let DanoiTech take your company to the next level</p>
                        </div>
                        <div class="company-item">
                            <p>Headquartered in Abuja, Nigeria with a second location in Ikeja, lagos, DanoiTech  is a Professional Software Development & IT Consulting Firm.we have established ourselves as a leading name in providing exceptional technology solutions and services that always adhere to globally recognized standards and latest technology trends.</p>
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> 

    <!--====== FAQ PART ENDS ======-->

    <!--====== SERVICES PART START ======-->
   
    <section class="services-area services-about">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-7 col-sm-9">
                    <div class="services-item text-center mt-30 wow fadeIn" data-wow-duration="1500ms" data-wow-delay="0ms">
                        <h3 class="title">Web Design <br> And Development</h3>
                        <i class="fal fa-laptop-code"></i>
                        <p>Avoids pleasure itself, because it is pleasure but because</p>
                        <a href="services-details.html">Read More <i class="fal fa-long-arrow-right"></i></a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-7 col-sm-9">
                    <div class="services-item text-center mt-30 wow fadeIn" data-wow-duration="1500ms" data-wow-delay="400ms">
                        <h3 class="title">User Product <br> Design Strategy</h3>
                        <i class="fal fa-umbrella-beach"></i>
                        <p>Avoids pleasure itself, because it is pleasure but because</p>
                        <a href="services-details.html">Read More <i class="fal fa-long-arrow-right"></i></a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-7 col-sm-9">
                    <div class="services-item text-center mt-30 wow fadeIn" data-wow-duration="1500ms" data-wow-delay="800ms">
                        <h3 class="title">High Server <br> Security Solutions</h3>
                        <i class="fal fa-server"></i>
                        <p>Avoids pleasure itself, because it is pleasure but because</p>
                        <a href="services-details.html">Read More <i class="fal fa-long-arrow-right"></i></a>
                    </div>
                </div>
            </div><br>
            <div style="text-align:center;"><li><a class="main-btn" href="/services">All Services</a></li></div>
        </div>
    </section> 

    <!--====== SERVICES PART ENDS ======-->

    <!--====== ABOUT HISTORY PART START ======-->
   
    <section class="about-history-area pb-130">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="section-title text-center">
                        <h2 class="title">More <span>About <span>Us</span></span></h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="history-tab-btn">
                        <ul class="nav nav-pills d-flex justify-content-center mb-60" id="pills-tab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="pills-1-tab" data-toggle="pill" href="#pills-1" role="tab" aria-controls="pills-1" aria-selected="true">DanoiTech Expertise</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="pills-2-tab" data-toggle="pill" href="#pills-2" role="tab" aria-controls="pills-2" aria-selected="false">Our Values</a>
                            </li>
                         
                            <li class="nav-item">
                                <a class="nav-link" id="pills-3-tab" data-toggle="pill" href="#pills-3" role="tab" aria-controls="pills-3" aria-selected="false">Digital Experiences.</a>
                            </li>
                        </ul>
                        <div class="tab-content" id="pills-tabContent">
                              <div class="tab-pane fade show active" id="pills-1" role="tabpanel" aria-labelledby="pills-1-tab">
                                  <div class="row align-items-center">
                                      <div class="col-lg-5">
                                          <div class="history-thumb">
                                              <img src="assets/images/history-1.jpg" alt="history">
                                          </div>
                                      </div>
                                      <div class="col-lg-7">
                                          <div class="history-content pl-30">
                                              <h3 class="title">Danoi Technologies provides the best team</h3>
                                              <p>Danoi Technologies team includes highly-expertise developers, user-interface designers, project managers, test automation engineers, marketing specialists, business analysts. We are fully involved in projects taking care of the final result. We provide our customers with recommendations to make the best solutions and develop projects of any scale and complexity.</p>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                             
                              <div class="tab-pane fade" id="pills-2" role="tabpanel" aria-labelledby="pills-2-tab">
                                  <div class="row align-items-center">
                                      <div class="col-lg-5">
                                          <div class="history-thumb">
                                              <img src="assets/images/history-1.jpg" alt="history">
                                          </div>
                                      </div>
                                      <div class="col-lg-7">
                                          <div class="history-content pl-30">
                                              <h3 class="title">Collaboration,Craftsmanship & Accountability</h3>
                                              <p>Collaboration: We’re all about forging relationships. Our team is close and tight-knit—and that’s how we’ll work with you, too.

                                              Craftsmanship: We work with brands who are the best at what they do. They work with us because we’re the best at what we do.

                                              </p>
                                              <p class="text">Accountability: Honest, clear communication is what we’re all about. We’re here for you every step of the way, so sit back, relax, and enjoy the ride. </p>
                                          </div>
                                      </div>
                                  </div>
                                  
                              </div>
                              <div class="tab-pane fade" id="pills-3" role="tabpanel" aria-labelledby="pills-3-tab">
                                  <div class="row align-items-center">
                                      <div class="col-lg-5">
                                          <div class="history-thumb">
                                              <img src="assets/images/history-1.jpg" alt="history">
                                          </div>
                                      </div>
                                      <div class="col-lg-7">
                                          <div class="history-content pl-30">
                                              <h3 class="title">There’s no singular digital experience</h3>
                                              <p>These days, there’s no singular digital experience. Potential customers come from multiple touchpoints—websites, blogs, searches, and social media. With intentional branding, we guarantee an engaging, multi-channel marketing strategy so your perfect customer never falls through the cracks.</p>
                                              <p class="text">Marketing is about how customers experience your brand and company. DanoiTech has been elevating the customer experience for clients since 2017.</p>
                                          </div>
                                      </div>
                                  </div>
                                  
                              </div>
                         
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> 

    <!--====== ABOUT HISTORY PART ENDS ======-->
    <%- include('partials/aboutteam') %>

    <%- include('partials/footer') %>