<%- include('partials/header') %>
    <!--====== PAGE TITLE PART START ======-->

    <section class="banner-area page-title bg_cover" style="background-image: url(assets/images/features-bg.jpg);">
        <div class="banner-bg">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="page-title-content">
                            <h3 class="title">Service Details</h3>
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Service Details</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="banner-shape-1">
        </div>
        <div class="banner-shape-2">
            <img src="assets/images/banner-shape-1.png" alt="">
        </div>
        <div class="banner-shape-3">
            <img src="assets/images/banner-shape-2.png" alt="">
        </div>
    </section>

    <!--====== PAGE TITLE PART ENDS ======-->

    <!--====== SOLUTIONS PART START ======-->
   
    <section class="solutions-area pt-130 pb-130">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-5">
                    <div class="solutions-thumb">
                        <img src="assets/images/solutions-thumb.jpg" alt="solutions">
                        <div class="solutions-content">
                            <span>DanoiTech Is Your Trusted Source In IT Services And Support</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="solutions-content-area pl-70">
                        <div class="section-title">
                            <h2 class="title">Explore Services & <span>Professional <span>Solutions</span></span></h2>
                         
                        </div>
                        <div class="solutions-list">
                            <div class="item">
                                <h4 class="title">Right Tech Solutions</h4>
                                <p>Satione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora.</p>
                                <i class="far fa-balance-scale"></i>
                            </div>
                            <div class="item mt-35">
                                <h4 class="title">Think Outside The Box</h4>
                                <p>Satione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora.</p>
                                <i class="far fa-gem"></i>
                            </div>
                            <div class="solutions-btn">
                                <ul>
                                    <li><a class="main-btn" href="#">Get Started</a></li>
                                    <li><a class="link" href="#">Read More <i class="far fa-arrow-right"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> 

    <!--====== SOLUTIONS PART ENDS ======-->

    <!--====== VIDEO PLAY PART START ======-->
   
    <section class="video-play-area d-flex align-items-center bg_cover" style="background-image: url(assets/images/banner-3-min-1-e1571829912259.jpg);">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="video-play-item text-center pb-85">
                        <a class="video-popup" href="https://www.youtube.com/watch?v=YLoYt8H7kjM&amp;list=RDYLoYt8H7kjM&amp;start_radio=1"><i class="far fa-play"></i></a>
                        <h2 class="title">Watch Video </h2>
                        <span>Our Latest Presentations</span>
                    </div>
                </div>
            </div>
        </div>
    </section> 

    <!--====== VIDEO PLAY PART ENDS ======-->

    <!--====== SERVICES BUSINESS PART START ======-->
   
     <section class="services-area services-about">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-7 col-sm-9">
                    <div class="services-item text-center mt-30 wow fadeIn" data-wow-duration="1500ms" data-wow-delay="0ms">
                        <h3 class="title">Web Design <br> And Development</h3>
                        <i class="fal fa-laptop-code"></i>
                        <p>Avoids pleasure itself, because it is pleasure but because</p>
                        <a href="services-details.html">Read More <i class="fal fa-long-arrow-right"></i></a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-7 col-sm-9">
                    <div class="services-item text-center mt-30 wow fadeIn" data-wow-duration="1500ms" data-wow-delay="400ms">
                        <h3 class="title">User Product <br> Design Strategy</h3>
                        <i class="fal fa-umbrella-beach"></i>
                        <p>Avoids pleasure itself, because it is pleasure but because</p>
                        <a href="services-details.html">Read More <i class="fal fa-long-arrow-right"></i></a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-7 col-sm-9">
                    <div class="services-item text-center mt-30 wow fadeIn" data-wow-duration="1500ms" data-wow-delay="800ms">
                        <h3 class="title">High Server <br> Security Solutions</h3>
                        <i class="fal fa-server"></i>
                        <p>Avoids pleasure itself, because it is pleasure but because</p>
                        <a href="services-details.html">Read More <i class="fal fa-long-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-7 col-sm-9">
                    <div class="services-item text-center mt-30 wow fadeIn" data-wow-duration="1500ms" data-wow-delay="0ms">
                        <h3 class="title">Web Design <br> And Development</h3>
                        <i class="fal fa-laptop-code"></i>
                        <p>Avoids pleasure itself, because it is pleasure but because</p>
                        <a href="services-details.html">Read More <i class="fal fa-long-arrow-right"></i></a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-7 col-sm-9">
                    <div class="services-item text-center mt-30 wow fadeIn" data-wow-duration="1500ms" data-wow-delay="400ms">
                        <h3 class="title">User Product <br> Design Strategy</h3>
                        <i class="fal fa-umbrella-beach"></i>
                        <p>Avoids pleasure itself, because it is pleasure but because</p>
                        <a href="services-details.html">Read More <i class="fal fa-long-arrow-right"></i></a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-7 col-sm-9">
                    <div class="services-item text-center mt-30 wow fadeIn" data-wow-duration="1500ms" data-wow-delay="800ms">
                        <h3 class="title">High Server <br> Security Solutions</h3>
                        <i class="fal fa-server"></i>
                        <p>Avoids pleasure itself, because it is pleasure but because</p>
                        <a href="services-details.html">Read More <i class="fal fa-long-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-7 col-sm-9">
                    <div class="services-item text-center mt-30 wow fadeIn" data-wow-duration="1500ms" data-wow-delay="0ms">
                        <h3 class="title">Web Design <br> And Development</h3>
                        <i class="fal fa-laptop-code"></i>
                        <p>Avoids pleasure itself, because it is pleasure but because</p>
                        <a href="services-details.html">Read More <i class="fal fa-long-arrow-right"></i></a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-7 col-sm-9">
                    <div class="services-item text-center mt-30 wow fadeIn" data-wow-duration="1500ms" data-wow-delay="400ms">
                        <h3 class="title">User Product <br> Design Strategy</h3>
                        <i class="fal fa-umbrella-beach"></i>
                        <p>Avoids pleasure itself, because it is pleasure but because</p>
                        <a href="services-details.html">Read More <i class="fal fa-long-arrow-right"></i></a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-7 col-sm-9">
                    <div class="services-item text-center mt-30 wow fadeIn" data-wow-duration="1500ms" data-wow-delay="800ms">
                        <h3 class="title">High Server <br> Security Solutions</h3>
                        <i class="fal fa-server"></i>
                        <p>Avoids pleasure itself, because it is pleasure but because</p>
                        <a href="services-details.html">Read More <i class="fal fa-long-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </section> 
    <!--====== SERVICES BUSINESS PART ENDS ======-->
    <%- include('partials/footer') %>